.container {
  background: white;
  height: 350px;
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}

.topBanner {
  width: 100%;
  height: 15%;
  background-color: #ffea00;
}

.topLeftBanner {
  height: 100%;
  background-color: #c9d3ff;
  width: 65%;
  align-items: flex-end;
}

.bottomBanner {
  width: 100%;
  height: 15%;
  background-color: #0ca4ff;
}

.hotelNameStars {
  color: #304187;
  font-weight: bold;
  text-align: left;
}

.location {
  color: #304187;
  text-align: left;
  font-size: smaller;
}

.dateInfo {
  color: white;
  text-align: left;
}

.Card {
  width: 275;  height: 275;
}
